form {
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(180deg, rgb(231, 231, 228),rgba(136,203,171,1));
    color:black;
    border: 1px solid gray;
}

.formLeft, .formRight{
    display: flex;
    flex-direction: column;
    padding:10px;
    
}

label{
    padding: 10px;
}

.formLeft>input, .formRight>input{
    border-radius: 5px;
    max-width: 50%;
}

.formLeft>select {
    max-width: 70%;
}

input {
    border:0;
    outline:0;
}
